<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand ms-3">AG Weather</a>
    <div class="navbar-portal-outlet"></div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 bg-light border-right">
            <ul class="nav flex-column">
                <li class="nav nav-item">
                    <a routerLink="/" class="nav-link">Início</a>
                </li>
                <li class="nav nav-item">
                    <a routerLink="/bookmarks" class="nav-link">Favoritos</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>