<div class="card">
    <span class="badge bg-secondary">{{ date | uppercase }}</span>
    <div>

        <div>
            <img [src]="icon" />
            <span>{{ weather.description | titlecase}}</span>
        </div>

        <div>
            <h4>{{ weather.minTemp }} {{ unitSymbol }} - {{ weather.maxTemp }} {{ unitSymbol }}</h4>
            <h6>Humidade: {{ weather.humidity }} %</h6>
            <div>Velocidade do vento: {{ weather.wind.speed }} m/s</div>
        </div>

        <div>
            <div>Nascer do sol: {{ unixToHourMinute(weather.sunrise) }}</div>
            <div>Pôr do sol: {{ unixToHourMinute(weather.sunset) }}</div>
        </div>

    </div>
</div>